In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.offline as py

In [115]:
# File to load
csv_crime_2012 = "Table_13_Hate_Crime_Incidents_per_Bias_Motivation_and_Quarter_by_State_and_Agency_2012.csv"
csv_crime_2013 = "Table_13_Hate_Crime_Incidents_per_Bias_Motivation_and_Quarter_by_State_and_Agency_2013.csv"
csv_crime_2014 = "Table_13_Hate_Crime_Incidents_per_Bias_Motivation_and_Quarter_by_State_and_Agency_2014.csv"
csv_crime_2015 = "Table_13_Hate_Crime_Incidents_per_Bias_Motivation_and_Quarter_by_State_and_Agency_2015.csv"
csv_crime_2016 = "Table_13_Hate_Crime_Incidents_per_Bias_Motivation_and_Quarter_by_State_and_Agency_2016.csv"
csv_states = "states.csv"
csv_population = "population_estimates.csv"

states_df = pd.read_csv(csv_states)
population_df = pd.read_csv(csv_population)
hate_crime_2012 = pd.read_csv(csv_crime_2012)
hate_crime_2013 = pd.read_csv(csv_crime_2013)
hate_crime_2014 = pd.read_csv(csv_crime_2014)
hate_crime_2015 = pd.read_csv(csv_crime_2015)
hate_crime_2016 = pd.read_csv(csv_crime_2016)

hate_crime_2012['2012 Crimes'] = hate_crime_2012['Race'] + hate_crime_2012['Ethnicity']
hate_crime_2013['2013 Crimes'] = hate_crime_2013['Race'] + hate_crime_2013['Ethnicity']
hate_crime_2014['2014 Crimes'] = hate_crime_2014['Race'] + hate_crime_2014['Ethnicity']
hate_crime_2015 = hate_crime_2015.rename(columns={'Race/\nEthnicity/\nAncestry': '2015 Crimes'})
hate_crime_2016 = hate_crime_2016.rename(columns={'Race/\nEthnicity/\nAncestry': '2016 Crimes'})

hate_crime_2012 = hate_crime_2012[["State", "Agency name", "2012 Crimes", "Population"]]
hate_crime_2013 = hate_crime_2013[["State", "Agency name", "2013 Crimes", "Population"]]
hate_crime_2014 = hate_crime_2014[["State", "Agency name", "2014 Crimes", "Population"]]
hate_crime_2015 = hate_crime_2015[["State", "Agency name", "2015 Crimes", "Population"]]
hate_crime_2016 = hate_crime_2016[["State", "Agency name", "2016 Crimes", "Population"]]

hate_crime_2012 = hate_crime_2012[hate_crime_2012['Agency name'].notnull()]
hate_crime_2012 = hate_crime_2012[hate_crime_2012['Population'].notnull()]
hate_crime_2013 = hate_crime_2013[hate_crime_2013['Agency name'].notnull()]
hate_crime_2013 = hate_crime_2013[hate_crime_2013['Population'].notnull()]
hate_crime_2014 = hate_crime_2014[hate_crime_2014['Agency name'].notnull()]
hate_crime_2014 = hate_crime_2014[hate_crime_2014['Population'].notnull()]
hate_crime_2015 = hate_crime_2015[hate_crime_2015['Agency name'].notnull()]
hate_crime_2015 = hate_crime_2015[hate_crime_2015['Population'].notnull()]
hate_crime_2016 = hate_crime_2016[hate_crime_2016['Agency name'].notnull()]
hate_crime_2016 = hate_crime_2016[hate_crime_2016['Population'].notnull()]

hate_crime_2012 = hate_crime_2012.rename(columns={'Population': '2012 Population'})
hate_crime_2013 = hate_crime_2013.rename(columns={'Population': '2013 Population'})
hate_crime_2014 = hate_crime_2014.rename(columns={'Population': '2014 Population'})
hate_crime_2015 = hate_crime_2015.rename(columns={'Population': '2015 Population'})
hate_crime_2016 = hate_crime_2016.rename(columns={'Population': '2016 Population'})

#hate_crime_2012 = hate_crime_2012.set_index(['State','Agency name'])
#hate_crime_2013 = hate_crime_2013.set_index(['State','Agency name'])
#hate_crime_2014 = hate_crime_2014.set_index(['State','Agency name'])
#hate_crime_2015 = hate_crime_2015.set_index(['State','Agency name'])
#hate_crime_2016 = hate_crime_2016.set_index(['State','Agency name'])

counties_2012 = hate_crime_2012[["State", "Agency name"]]
counties_2013 = hate_crime_2013[["State", "Agency name"]]
counties_2014 = hate_crime_2014[["State", "Agency name"]]
counties_2015 = hate_crime_2015[["State", "Agency name"]]
counties_2016 = hate_crime_2016[["State", "Agency name"]]

counties_df = pd.merge(counties_2012, counties_2013, on=["State","Agency name"], how="outer")
counties_df = pd.merge(counties_df, counties_2014, on=["State","Agency name"], how="outer")
counties_df = pd.merge(counties_df, counties_2015, on=["State","Agency name"], how="outer")
counties_df = pd.merge(counties_df, counties_2016, on=["State","Agency name"], how="outer")
counties_df = counties_df.drop_duplicates()
counties_df = counties_df.sort_values(by=['State', 'Agency name'])

#counties_df = counties_df.set_index(['State'])
#counties_df = counties_df.groupby("State")
#counties_df = counties_df.loc[counties_df['Agency name'] == 'Anchorage']

counties_df.head(500)
#hate_crime_df['Agency name'].value_counts()

            State                            Agency name
2812      Alabama                             Birmingham
2392      Alabama                              Fairfield
1754      Alabama                               Florence
3179      Alabama                                  Foley
0         Alabama                                 Hoover
1755      Alabama                             Prattville
2393      Alabama                              Sylacauga
1756      Alabama                             Tuscaloosa
1          Alaska                              Anchorage
3180       Alaska                                 Juneau
2813       Alaska                               Kotzebue
2814       Alaska                             North Pole
2815       Alaska                               Soldotna
3181       Alaska                                Wasilla
2         Arizona                        Apache Junction
18        Arizona  Arizona State University, Main Campus
1757      Arizona                               Avondale
2394      Arizona                               Chandler
3         Arizona                               Coolidge
2395      Arizona                             Cottonwood
1758      Arizona                                  Eagar
1759      Arizona                              El Mirage
4         Arizona                              Flagstaff
5         Arizona                                Gilbert
6         Arizona                               Glendale
1760      Arizona                               Goodyear
2816      Arizona                               Holbrook
2396      Arizona                                Kingman
7         Arizona                               Maricopa
8         Arizona                                   Mesa
...           ...                                    ...
415      Colorado                                Windsor
418   Connecticut                                 Berlin
1834  Connecticut                                 Bethel
419   Connecticut                             Bloomfield
420   Connecticut                             Bridgeport
421   Connecticut                                Bristol
2436  Connecticut                             Brookfield
422   Connecticut                                 Canton
461   Connecticut   Central Connecticut State University
2437  Connecticut                               Cheshire
3208  Connecticut                                Clinton
2853  Connecticut               Connecticut State Police
423   Connecticut                               Coventry
1835  Connecticut                                Danbury
3209  Connecticut                                 Darien
424   Connecticut                                  Derby
1836  Connecticut                           East Hampton
1837  Connecticut                          East Hartford
1838  Connecticut                           East Windsor
2438  Connecticut                                 Easton
425   Connecticut                                Enfield
2439  Connecticut                              Fairfield
2440  Connecticut                             Farmington
426   Connecticut                            Glastonbury
2441  Connecticut                              Greenwich
427   Connecticut                                 Groton
428   Connecticut                            Groton Town
1839  Connecticut                               Guilford
429   Connecticut                                 Hamden
430   Connecticut                               Hartford

[500 rows x 2 columns]